
main {
    .misgifosSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0 2em 0em;

        .emptyFavoritesSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em 0 2em 0em;

            .textMyGIFOSSection {
                font-size: 1.25em;
            }
    
            .containerimgnewgifosNone {
                .imgmygifos {
                    padding: 3em 0 1em 0em;
                }
            }
    
            .textMyGIFOSNone {
                padding: 1em;
                font-family: $title-font;
                color: $c-turquoise;
                font-size: 1.38em;
            }
        }

        .containerMyGifos {
            display: grid;
            width: 85vw;
            grid-template: repeat(3, 1fr) / repeat(4, 1fr);

            .container-img-mygifos {
                display: flex;
                position: relative;
                width: max-content;
                height: max-content;
                margin: none;    

                .imgmygifos {
                    justify-self: stretch;
                    width: 20vw;
                    height: 20vw;
                    padding: 0.2em;
                }
            }
        }
    }
}

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
   @media screen and (min-width: 768px) {
    main {
        .misgifosSection {
            margin-top: 19vh;
            padding: 1em 0 5em 0em;

            .emptyMyGifosSection {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em 0 2em 0em;
    
                .textFavSection {
                    font-size: 1.25em;
                }
        
                .containerIconMyGifosNone {
                    .iconimgnewgifos {
                        padding: 3em 0 1em 0em;
                    }
                }
        
                .textMyGIFOSNone {
                    padding: 1em;
                    font-family: $title-font;
                    color: $c-turquoise;
                    font-size: 1.38em;
                }
            }

            .containerMyGifos {
                display: grid;
                width: 85vw;
                grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    
                .container-img-mygifos {
                    display: flex;
                    position: relative;
                    width: max-content;
                    height: max-content;
                    margin: none;    
    
                    &:hover .containerDetails .content-overlay {
                        opacity: 0.6;
                    }
    
                    &:hover .containerDetails .content-details {
                        top: 50%;
                        opacity: 1;
                    }
                    
                    .imgmygifos {
                        justify-self: stretch;
                        width: 20vw;
                        height: 20vw;
                        padding: 0.2em;
                    }
    
                    .containerDetails {
                        display: block;
    
                        .content-overlay {
                            background: $c-contrast;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            opacity: 0;
                            transition: all 0.4s ease-in-out 0s;
                        }
    
                        .content-details {
                            display: grid;
                            grid-template: repeat(4, 1fr) / repeat(3, 1fr);
                            position: absolute;
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            padding: 0.8em;
                            opacity: 0;
                            transform: translate(-50%, -50%);
                            transition: all 0.3s ease-in-out 0s;
    
                            .hoverIcons {
                                grid-area: 1 / 1 / 2 / 4;
                                display: flex;
                                justify-content: space-evenly;
                                justify-self: end;
                                width: 10vw;
    
                                a {
                                    padding: 0.2em;
    
                                    .fa-trash-alt, .fa-download, .fa-expand-alt {
                                        width: 3vw;
                                        height: 3vw;
                                        color: $c-contrast;
                                        background: $c-background;
                                        opacity: 0.7;
                                        padding: 0.2em 0 0 0;
                                        border-radius: 0.375em;
    
                                        &:hover {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
    
                            .textCardimg, .titleCardimg {
                                grid-area: 4 / 1 / 5 / 4;
                                color: $c-background;
                            }
    
                            .textCardimg {
                                font-size: 0.9em;
                                width: max-content;
                            }
    
                            .titleCardimg {
                                
                                padding: 1em 0 0 0;
                                font-family: $blodtext-font;
                                font-size: 1em;
                                width: 15vw;
                                text-align: left;
                            }
                        }
    
                        .fadeIn-top{
                            top: 50%;
                        }
                          
                        .fadeIn-left{
                            left: 50%;
                        }
                    }
                }
            }
        }
        
    }
}


/* Tablets en horizonal y escritorios normales
    ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {}

/* Escritorios muy anchos
    ------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {} 

